.bg-success {
    background-color: green;
    padding: 1%;
    color: white;
    margin-bottom: 1%;
    margin-top: 1%;
}
.bg-warning {
    background-color: orange;
    padding: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    color: white;
}
.bg-danger {
    background-color: red;
    padding: 1%;
    color: white;
    margin-bottom: 1%;
    margin-top: 1%;
}
.text-center {
    text-align: center;
}
